@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Cinzel', serif;
    font-size: 16px;
}

.nav{
    width: 100%;
    height: 110px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    text-decoration: none;
}


.logo{
    width: 280px;
    margin: 0;
    
}

.logo img{
    width: 100%;
    padding-left: 8em;
}

.item-options{
    color: rgb(39, 38, 38);
    margin: 0 1.5rem;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Cinzel', serif;
}


.cabecera{
    width: 100%;
    height: 400px;
    background-image: url(images/fondomezcal.jpg);
    background-attachment: fixed;
    background-position: initial;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: left;

}


.textos{
    margin-top: 60px;
    padding-left: 22em;
}
.titulo{
    text-align: right;
    font-size: 45px;
    padding-right: 2em;
    padding-top: 2em;
    font-weight: bold;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, .5);
}
.subtitulos{
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 32px;
}


.contenedor {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 40px 0;
}

/* Main */
.historia{
    background: #ffffff;
    height: 280px;
}

.titulo-historia{
    color: rgb(22, 22, 22);
    text-align: center;
    font-weight: 200;
    font-size: 36px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: .5em;
}

.subtitulo-historia {
    text-align: center;
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 64px;
    color: rgb(26, 26, 26); 
}

.historia1{
    background-image:url(images/producto.png);
    height: 500px;
    background-size: cover;
    background-position: center;
}

.historia1 h2{
    font-size: 2.5em;
    text-align: right;
    padding-top: 2em;
    padding-right: 5.5em;
}

.historia1 p{
    font-size: 1.5em;
    text-align: right;
    padding-right: 9em;
}

.historia1 .boton {
    display: inline-block;
    padding: 15px;
    width: 190px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 5em;
    margin-left: 39em;
}



.historia3{
    background-image:url(images/producto2.png);
    height: 600px;
    background-size: cover;
    background-position: center;
    
}

.historia3 h2{
    font-size: 2.5em;
    text-align: left;
    padding-top: 3em;
    padding-left: 5em;
}

.historia3 p{
    font-size: 1.5em;
    text-align: center;
    padding-left: 6em;
    padding-right: 25em;
}

.historia3 .boton {
    display: inline-block;
    padding: 15px;
    width: 190px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 5em;
    margin-left: 17em;
}

.historia2{
    background: #6b2a25;
    height: 200px;
}

.titulo-historia2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 200;
    font-size: 40px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: .5em;
}

.subtitulo-historia2 {
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 64px;
    color: rgb(255, 255, 255); 
}



.historia5{
    background-image:url(images/producto3.png);
    height: 550px;
    background-size: cover;
    background-position: center;
    
}

.historia5 h2{
    font-size: 2.5em;
    text-align: right;
    padding-top: 3em;
    padding-right: 4em;
}

.historia5 p{
    font-size: 1.5em;
    text-align: center;
    padding-right: 6em;
    padding-left: 25em;
}

.historia5 .boton {
    display: inline-block;
    padding: 15px;
    width: 190px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 5em;
    margin-left: 40em;
}

.historia6{
    background-image:url(images/producto4.png);
    height: 650px;
    background-size: cover;
    background-position: center;
    
}

.historia6 .boton {
    display: inline-block;
    padding: 15px;
    width: 190px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 38em;
    margin-left: 28em;
}




.slogan {
    font-size: 44px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 15px;
}



.acerca-de .boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: 24px;
}





.caja{
    color: rgb(46, 45, 45);
    position: relative;
    text-align: center;
    width: 100%;
    float: left;
    margin-top: -1em;
    background-image:url(images/fondomezcal.jpg) ;
    
}

 
.texto-encima{
    text-align: center;
    padding-left: 8em;
    padding-top: 1em;
    font-size: 2em;
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    font-size: 1.5em;
    top: 25%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.caja .boton {
    display: inline-block;
    padding: 6px;
    width: 140px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    background-color: rgba(255, 255, 255, 0.342);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 1px;
    margin-top: 24px;
    position: absolute;
    top: 50%;
    left: 73%;
    transform: translate(-50%, -50%);
}

.texto-encima1{
    text-align: center;
    padding-left: 2em;
    padding-top: 1em;
    font-size: 2em;
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado1{
    font-size: 1.5em;
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.caja .boton1 {
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 1px;
    margin-top: 24px;
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.texto-encima2{
    text-align: center;
    padding-top: 1em;
    padding-left: 2.5em;
    font-size: 2em;
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado2{
    font-size: 1.5em;
    position: absolute;
    top: 28%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.caja .boton2 {
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 1px;
    margin-top: 24px;
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
}



/* Footer */

footer {
    background: #2b2f33;
    height: auto;
}


.titulo-footer{
    color: #fff;
    text-align: center;
    font-weight: 200;
    font-size: 26px;
}

.subtitulo-footer {
    text-align: center;
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 64px;
    color: rgb(255, 255, 255);
    
}

/* seccion de nosotro*/


.redes > ul {
    display: flex;
    justify-content: center;
}
  
 .redes li {
    margin: 0 .75rem;
    list-style-type: none;
}


    
    p#copyright {
        color:#e2dddd; 
        font-size: .8em;
        text-align: center;
        padding-top: 2em;
}