@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Cinzel', serif;
    font-size: 16px;
}

.nav{
    width: 100%;
    height: 110px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    text-decoration: none;
}


.logo{
    width: 280px;
    margin: 0;
    
}

.logo img{
    width: 100%;
    padding-left: 8em;
}

.item-options{
    color: rgb(39, 38, 38);
    margin: 0 1.5rem;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Cinzel', serif;
}


.cabecera{
    width: 100%;
    height: 550px;
    background-image: url(images/fondoB.jpg);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: left;

}



.textos{
    margin-top: 50px;
    padding-left: 12em;
}
.titulo{
    font-size: 45px;
}
.subtitulos{
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 32px;
}
.cabecera .boton {
    display: inline-block;
    padding: 6px;
    width: 150px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .5);
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}

/* Main */

.sobre-nosotros {
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 600;
}
.nosostros {
    font-size: 2em;
    padding-left: 2em;
    padding-top: 1em;
    scroll-padding-bottom: 1em;
}

.slogan {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
}

.parrafo {
    margin-bottom: 13px;
    font-weight: 300;
    text-align: justify;
    line-height: 24px;
    color: rgb(24, 16, 16);
}

.acerca-de .boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: 24px;
}



.caja img{
    width: 675px;
    height: 675px;
}

.caja{
    color: rgb(46, 45, 45);
    position: relative;
    text-align: center;
    width: 50%;
    float: left;
    margin-top: -1em;
    
}
 
.texto-encima{
    text-align: center;
    padding-left: 8em;
    padding-top: 1em;
    font-size: 2em;
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    font-size: 1.5em;
    top: 25%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.caja .boton {
    display: inline-block;
    padding: 6px;
    width: 140px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    background-color: rgba(255, 255, 255, 0.342);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 1px;
    margin-top: 24px;
    position: absolute;
    top: 50%;
    left: 73%;
    transform: translate(-50%, -50%);
}

.texto-encima1{
    text-align: center;
    padding-left: 2em;
    padding-top: 1em;
    font-size: 2em;
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado1{
    font-size: 1.5em;
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.caja .boton1 {
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 1px;
    margin-top: 24px;
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.texto-encima2{
    text-align: center;
    padding-top: 1em;
    padding-left: 2.5em;
    font-size: 2em;
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado2{
    font-size: 1.5em;
    position: absolute;
    top: 28%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.caja .boton2 {
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 1px;
    margin-top: 24px;
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.texto-encima3{
    text-align: center;
    color: #fff;
    padding-top: 1em;
    padding-left: 2.5em;
    font-size: 2em;
    background-color: rgb(15, 15, 15);
    position: absolute;
    padding: 1em 1em;
    top: 250px;
    
}
.centrado3{
    font-size: 1.5em;
    color: #fff;
    position: absolute;
    background-color: black;
    top: 28%;
    left: 70%;
    transform: translate(-50%, -50%);
    padding: 3em 1em;
}



/* Footer */

footer {
    background: #2b2f33;
    height: auto;
}


.titulo-footer{
    color: #fff;
    text-align: center;
    font-weight: 200;
    font-size: 26px;
}

.subtitulo-footer {
    text-align: center;
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 64px;
    color: rgb(255, 255, 255);
    
}


/* seccion de nosotro*/


.redes > ul {
    display: flex;
    justify-content: center;
}
  
 .redes li {
    margin: 0 .75rem;
    list-style-type: none;
}


    
    p#copyright {
        color:#e2dddd; 
        font-size: .8em;
        text-align: center;
        padding-top: 2em;
}