@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

.historia1  button{
	display: inline-block;
	font-family: 'Cinzel', serif;
    padding: 15px;
    width: 190px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 5em;
    margin-left: 39em;
}

.historia3  button{
	display: inline-block;
    padding: 15px;
    width: 190px;
	font-weight: 300;
	font-family: 'Cinzel', serif;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 5em;
    margin-left: 17.5em;
}
.historia5  button{
	display: inline-block;
    padding: 15px;
    width: 190px;
	font-weight: 300;
	font-family: 'Cinzel', serif;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 5em;
    margin-left: 41em;
}
.historia6  button{
	display: inline-block;
    padding: 15px;
    width: 190px;
	font-weight: 300;
	font-family: 'Cinzel', serif;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 38em;
    margin-left: 28em;
}

.contenedor article .btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	margin-left: 3em;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: rgb(32, 32, 32);
	border-radius: 3px;
	font-family: 'Cinzel', serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
	background: rgba(37, 37, 37, 0.9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Cinzel', serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: rgb(36, 36, 36);
	border-radius: 3px;
	font-family: 'Cinzel', serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(44, 44, 44, 0.9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}