<style>
     html{
 font-size: 16px;
 font-family: 'Lato', sans-serif;

}
 
body{
 background-color: #c8d9f0;
}
.cont1{
 max-width: 450px;
 height: auto;
 background-color: #efefef;
 margin: 5% auto;
 padding-bottom: 1rem;
}
.form-top{
 width: 100%;
 text-align: center;
 padding: 2rem 0 1rem;
 border-top: groove .4rem #88adf0;
 margin-bottom: 1rem;
}
.form-top h2{
font-weight: bold;
color: #cac8c8;
font-size: 18px;

}
h2 span{
 color: #000000a1;
}
.form-reg{
 padding: 0 2rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.btn-form{
 display: flex;
 justify-content: space-around;
 margin-top: 1rem;
}
.input, .btn-submit, .btn-reset{
 background-color: #efefef;
 padding: .5rem;
 margin: .5rem 0;
 border:none;
 border-bottom: solid #cac8c8 .2rem;
 transition: all .5s;
}
.input:focus{
 border-bottom: solid #f39b53 .2rem;
}
ul:focus{
    border-bottom: solid #f39b53 .2rem; 
}
.btn-submit, .btn-reset{
 width: 40%;
 border-bottom: none;
 background-color: #09688d;
 color: white;
}
.btn-reset{
 background-color: #88adf0;
}
.btn-submit:hover{
 background-color: #4c9ed9;

}
.btn-reset:hover{
 background-color: #fa9535;
}
ul {
    background-color: #efefef;
  list-style-type: none;
  margin: -.4rem 0;
 border:none;
 border-bottom: solid #cac8c8 .2rem;
 transition: all .5s;
 color : #83817f
}
p{
    
    color: #000000fb;
}

textarea:focus{
    border-bottom: solid #f39b53 .2rem;
}
textarea{
    background-color: gray;
 padding: .5rem;
 margin: .5rem 0;
 border:none;
 border-bottom: solid #cac8c8 .2rem;
 transition: all .5s;
 
}

select{
    font-size: 14px;
 font-family: 'Lato', sans-serif;
}

 </style>